<footer class="dart_footer">
  <div class="container">
    <div class="dart-row">
      <div class="footer-block d-col-lg-3 d-col-md-6 d-col-sm-6">
        <a href="#" class="footer-logo">
          <img src="/img/logo-fff.png" alt="СнегоТехника">
        </a>
        <ul class="contacts">
          <li itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            <i class="fa fa-map-marker"></i>
            <div>
              <b>Адрес</b><br>
              <span><span itemprop="postalCode">152900</span>, Россия, <span itemprop="addressLocality">Ярославская
                  область, г. Рыбинск, Зачерёмушный район</span>, <span itemprop="streetAddress">ул. Орджоникидзе,
                  33</span></span>
            </div>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <div>
              <b>Телефон:</b><br><span>8 (969) 777-85-44</span>
            </div>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <div>
              <i class="fa fa-envelope"></i>
              <b>E-mail</b><br><span>info@snegotehnika.ru</span>
            </div>
          </li>
        </ul>
        <ul class="socials">
          <li>
            <a href="https://vk.com/snegotehnika" target="_blank">
              <i class="fa fa-vk"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCSwKziqng1Y97l0M_bMt15A" target="_blank">
              <i class="fa fa-youtube-play"></i>
            </a>
          </li>
          <li>
            <a href="https://ok.ru/group/64249274302719" target="_blank">
              <i class="fa fa-odnoklassniki"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-block d-col-lg-3 d-col-md-6 d-col-sm-6">
        <div class="footer-menu">
          <span class="sf_title">Каталог</span>
          <ul class="">
            <li class="first"><a href="catalog/snegohodi/">Снегоходы</a></li>
            <li><a href="catalog/aksessuari/">Аксессуары для снегоходов</a></li>
            <li><a href="catalog/guseniczyi-dlya-motobloka/">Гусеницы для мотоблока</a></li>
            <li><a href="catalog/motobuksirovshhiki/">Мотобуксировщики</a></li>
            <li><a href="catalog/zapchasti-na-motobuksirovshhik/">Запчасти для мотобуксировщиков</a></li>
            <li><a href="catalog/repair/">Запчасти для снегоходов</a></li>
            <li><a href="catalog/sadovaya-tehnika/">Садовая техника</a></li>
            <li><a href="catalog/kvadrocikli/">Квадроциклы</a></li>
            <li><a href="catalog/vezdehody/" sngxd_27788="">Вездеходы</a></li>
            <li class="last"><a href="catalog/pogruzchiki/">Погрузчики</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-block d-col-lg-3 d-col-md-6 d-col-sm-6">
        <div class="footer-menu">
          <span class="sf_title">Покупателям</span>
          <ul class="">
            <li class="first"><a href="5000-podarok.html">5000 рублей в подарок</a></li>
            <li class="last"><a href="snegohod-buran-optom.html">Снегоходы c завода</a></li>
          </ul> <span class="sf_title">
            <div class="badge__form">
              <ul>
                <li><a
                    href="https://yandex.ru/maps/org/snegotekhnika/126289223109/reviews?utm_source=maps-reviews-widget&amp;utm_medium=reviews&amp;utm_content=add_review&amp;add-review"
                    class="badge__link-to-map" target="_blank">Оставить отзыв</a></li>
              </ul>
            </div>
          </span>
          <iframe src="https://yandex.ru/sprav/widget/rating-badge/126289223109" width="150" height="50"
            frameborder="0"></iframe>
        </div>
      </div>
      <div class="footer-block d-col-lg-3 d-col-md-6 d-col-sm-6">
        <div class="footer-menu">
          <span class="sf_title">Информация</span>
          <ul class="">
            <li class="first"><a href="contact.html">Контакты</a></li>
            <li class="active"><a href="about/">О компании</a></li>
            <li><a href="dogovor-publichnoj-ofertyi.html">Договор публичной оферты</a></li>
            <li><a href="blog/">Инструкции по ремонту</a></li>
            <li class="last"><a
                href="blog/snegoxodyi-buran/37158-otlichiya-kit-komplekt-ot-snegohoda-buran-rm.html">Чем
                отличается Кит комплект от "Снегохода Буран" Русская Механика</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-block col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>
        <noindex>
        </noindex>
      </p>
      <div class="copyright">© 2024 «Снеготехника». Все права защищены
        <br>Запчасти и аксессуары для снегоходной техники | Тел: 8 (969) 777-85-44
      </div>

      <p></p>
    </div>
  </div>
</footer>

<div class="dart-modal dart-modal-small" id="getcatalog">
  <div class="dart-modal-wrap">
    <div class="dart-modal-overlay"></div>
    <div class="dart-modal-content dart-modal-content-with-mockup">
      <a href="#" class="dart-modal-close"></a>
      <img src="/img/mockup_2.png" alt="">
      <div class="dart-modal-content-wrap">
        <span class="h2">Подборка из 5 снегоходов по типу Буран</span>
        <p>Куда удобнее отправить?</p>
        <form action="#">
          <div class="radios_wrap">
            <div class="radios_item">
              <a href="#" target="_blank">
                <span>Вконтакте</span>
              </a>
            </div>
            <div class="radios_item">
              <a href="#" target="_blank">
                <span>Telegram</span>
              </a>
            </div>
            <div class="radios_item form_radio">
              <input id="radio-lead-3" type="radio" name="radio-lead" value="3">
	            <label for="radio-lead-3">WhatsApp</label>
            </div>
            <div class="radios_item form_radio">
              <input id="radio-lead-4" type="radio" name="radio-lead" value="4">
	            <label for="radio-lead-4">Email</label>
            </div>
          </div>
          <div class="form_fields lead-view-block">
            <div class="dart-form-group-float lead-view lead-view-3">
              <input type="text" class="dart-form-control" id="lead-phone" name="phone" placeholder="Телефон"/>
              <label for="lead-phone">Телефон</label>
            </div>
            <div class="dart-form-group-float lead-view lead-view-4">
              <input type="text" class="dart-form-control" id="lead-email" name="email" placeholder="Email"/>
              <label for="lead-email">Email</label>
            </div>
            <div class="dart-form-group-button">
              <button class="dart-btn dart-btn-primary" type="submit">Получить!</button>
            </div>
          </div>
        </form>
      </div>
     </div>
  </div>  
</div>