<header class="dart_header">
  <div class="header-wrap">
    <div class="header-top">
      <div class="container">
        <div class="dart-row dart-align-items-center">
          <div class="d-col-sm-6 d-col-8 top-left inliner vam">
            <div class="phone_block inliner vam">
              <i class="iconer iconer-phone"></i>
              <a href="tel:89697778544">8 (969) 777-85-44</a>
            </div>
            <ul class="top_menu">
              <li class="first"><a href="/">Акции</a></li>
              <li class="last"><a href="/">Доставка и оплата</a></li>
            </ul>
          </div>
          <div class="d-col-sm-6 d-col-4">
            <div class="top-sider inliner vam">
              <a href="#" class="wrap-link" data-toggle="modal" data-target="#callback">
                <span>Служба поддержки</span>
                <i class="d_icon d_icon-support"></i>
              </a>
              <div class="wa">
                <a href="whatsapp://send?phone=+79991234567">
                  <img src="/img/wa.svg" alt="whatsapp">
                </a>
              </div>
              <a href="#" class="wrap-link no-wrap">
                <i class="d_icon d_icon-account-circle"></i>
                <span>Войти</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="dart-row dart-align-items-center">
          <div class="logo_container d-col-xl-2 d-col-lg-3 d-col-md-6 d-col-6">
            <div class="logo">
              <a href="/">
                <img src="/img/logo3.svg" alt="СнегоТехника">
              </a>
            </div>
          </div>
          <div class="mobile-menu-button d-col-lg-2 d-col-md-6 d-col-6">
            <button class="navbar-toggler nav-dart-menu noactive">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="mobile-search d-col-xl-4 d-col-lg-3 d-col-md-6 d-col-12 posr">
            <div class="header-search-form">
              <form data-key="3dd1fbfccc050858f955f7d3f2a34c0af8929a24" action="/" class="msearch2">
                <input type="text" name="query" placeholder="Введите фразу для поиска" value=""
                  class="ui-autocomplete-input" autocomplete="off">
                <button type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="d-col-xl-3 d-col-lg-3 d-col-md-6 d-col-4 posr hidden-sm text-right">
            <div class="phone_block">
              <i class="iconer iconer-phone"></i>
              <span class="desc">Ежедневно с 9:00 до 19:00</span>
              <a href="tel:89991234567">8 (999) 123-45-67</a>
            </div>
          </div>
          <div class="tools_container d-col-xl-3 d-col-lg-3 d-col-md-6 d-col-12">
            <div class="right-tools inliner vam">
              <div class="phone">
                <a href="tel:89991234567" class="phone">8 (999) 123-45-67</a>
              </div>
              <!--
              <div class="compariser">
                <div data-id="1" data-list="default" class="comparison-default">
                  <a href="sravnenie-tovarov.html" data-toggle="tooltip" data-placement="bottom" title=""
                    data-original-title="Сравнение товаров">
                    <i class="d_icon d_icon-tune">
                      <span class="comparison-total">0</span>
                    </i>
                  </a>
                </div>
              </div>
              -->
              <div class="cart">
                <div id="msMiniCart" class="cart full">
                  <div class="empty">
                    <a href="cart.html" class="inliner vam">
                      <span class="carticon">
                        <i class="d_icon d_icon-cart"></i>
                        <span class="count ms2_total_count">0</span>
                      </span>
                      <div class="cart-info hidden-sm">
                        <span class="title">Корзина</span>
                        <span class="info">
                          <span class="ms2_total_cost">0</span> <i class="fa fa-ruble"></i>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div class="not_empty">
                    <a href="cart.html" class="inliner vam">
                      <span class="carticon">
                        <i class="d_icon d_icon-cart"></i>
                        <span class="count ms2_total_count">0</span>
                      </span>
                      <div class="cart-info hidden-sm">
                        <span class="title">Корзина</span>
                        <span class="info">
                          <span class="ms2_total_cost">0</span> <i class="fa fa-ruble"></i>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-menu">
  <a href="#" class="mobile-menu__close"></a>
  <div class="mobile-menu__wrap">
    <div class="mobile-menu__container">
      <div class="dart-catalog-menu">
        <ul class="main_menu_slider">
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-sneg"></i>
              <span>Снегоходы</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы по типу Буран</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Арктик</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Шихан</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Беркут</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Бурлак</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Азимут</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Тайга</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоходы Ирбис</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-snegaks"></i>
              <span>Аксессуары для снегоходов</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Допы для снегоходов</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Сани и прицепы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Гусеницы к снегоходам</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Стекла к снегоходам</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Гусеницы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Подогрев ручек</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Склизы для снегоходов</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Чехлы для снегоходов</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Сиденья для снегоходов</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Для мотобуксировщиков Бурлак</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Для мотобуксировщиков СнегоТехника</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Аксессуары для БТС</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="dart-catalog-menu__el" style="">
              <i class="iconer iconer-gus"></i>
              <span>Гусеницы для мотоблока</span>
            </a>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-motob"></i>
              <span>Мотобуксировщики</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">БТС</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Азимут</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Вепс</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Рубин</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Каюр</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Миниснегоходы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Бурлак</a></li>
              <li class="dart-catalog-menu__el"><a href="#">СнегоТехника</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Paxus</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Альбатрос</a></li>
              <li class="dart-catalog-menu__el"><a href="#">MOTODOG</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Хаски</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Лидер</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Онего</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Норка</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Форза</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Baltmotors</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Койра</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Ирбис</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мужик</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Помор</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Рекс</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Чинук</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Джек</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Щукарь</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Нева</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Ростин</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Разгуляй</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Ураган</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Sharmax</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Барс</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-zap_mot"></i>
              <span>Запчасти для мотобуксировщиков</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Подвеска</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти для рамы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Трансмиссия</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Управление рулевое</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Электрооборудование</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Вариаторы Сафари</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Гусеницы для мотобуксировщика</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-zap_sneg"></i>
              <span>Запчасти для снегоходов</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Запчасти Буран</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Гусеницы Буран</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Двигатели для снегохода Буран</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти Буран Русская Механика</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти Тайга</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Двигатели для снегохода Тайга</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-sad"></i>
              <span>Садовая техника</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Мотокультиваторы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мотоблоки</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Навесное оборудование</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоуборщики</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-kvadro"></i>
              <span>Квадроциклы</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Квадроциклы РМ</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Квадроциклы Motax</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="dart-catalog-menu__el" style="">
              <i class="iconer iconer-vezd"></i>
              <span>Вездеходы</span>
            </a>
          </li>
          <li>
            <a href="#" class="dart-catalog-menu__el" style="">
              <i class="iconer iconer-sad"></i>
              <span>Погрузчики</span>
            </a>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-aero"></i>
              <span>Водомоторика</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Болотоходы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Аэролодки</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Гребные лодки</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-lifan"></i>
              <span>Lifan</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Двигатели Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Генераторы Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мойки высокого давления Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мотопомпы Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Масла LIFAN</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Продукция партнеров</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Виброплиты Lifan</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Товары с уценкой</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-habert"></i>
              <span>Habert</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Бензопилы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Газонокосилки</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Двигатели</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Генераторы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Машины подметально-уборочные</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мотоблоки</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мотобуры</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Снегоуборочные машины</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Триммеры</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Лебедки электрические</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти Habert</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Строительная техника</a></li>
            </ul>
          </li>
          <li class="dart-catalog-menu__category">
            <a href="#" class="dart-catalog-menu__el link-no-link" style="">
              <i class="iconer iconer-lonchin"></i>
              <span>Loncin</span>
            </a>
            <ul class="dart-catalog-menu__list">
              <li class="dart-catalog-menu__el"><a href="#">Генераторы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Двигатели</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Мотопомпы</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Моторы лодочные</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Запчасти</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Масла</a></li>
              <li class="dart-catalog-menu__el"><a href="#">Лебедки электрические</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__list">
        <ul class="">
          <li class="first"><a href="#">О компании</a></li>
          <li><a href="#">Партнерам</a></li>
          <li><a href="#">Возврат и гарантия</a></li>
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Способы доставки</a></li>
          <li><a href="#">Договор публичной оферты</a></li>
        </ul>
        <hr>
        <a href="tel:89991234567">8 999 123-45-67</a>
        <a href="mailto:info@site.ru">info@site.ru</a>
      </div>
    </div>
    <div class="mobile-menu__logo">
      <img src="/img/logo3.svg" alt="">
    </div>
  </div>
</div>

<div class="mobile-catalog">
  <div class="mobile-catalog__content">
    <div class="mobile-catalog__header">
      <div class="mobile-basket__close mobile-catalog-trigger">
        <i class="d_icon d_icon-angle-left"></i>
        <span>Каталог</span>
      </div>
    </div>
    
  </div>
</div>
<div class="calc_button">
  <div class="button-with-desc">
    <a href="catalog/motobuksirovshhiki/bts/snegoxodyi/kit-komplekt-4t-lyuks.html" data-id="" class="dart-big-block dart-big-block-primary btn-get-price">
      <span>Рассчитать цену</span>
      <small>С учетом доставки и способа оплаты</small>
      <i class="d_icon d_icon-arrow"></i>
    </a>
  </div>
</div>
<div class="mobile_block_actions">
  <ul>
    <li>
      <a href="#" class="slide_me" data-dart-modal data-dart-target="getcatalog">
        <i class="d_icon d_icon-file-document"></i>
        <span>Каталог</span>
      </a>
    </li>
    <li>
      <a href="#catalog" class="mobile-catalog-trigger">
        <i class="d_icon d_icon-catalog"></i>
        <span>Меню</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-whatsapp"></i>
        <span>WhatsApp</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="d_icon d_icon-phone"></i>
        <span>Позвонить</span>
      </a>
    </li>
  </ul>
</div>