html,
body {
	min-height: 100% !important;
	height: auto !important;
	background: #FCFCFC;
  font-family: $font-stack;
	font-smoothing: antialiased;
	&.loading .preloader{
		display: block;
		position: fixed;
		z-index: 999;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0,0,0,.2);
	}
	&.fullh {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
	}
	.preloader{
		display: none;
	}
	&.noscroll {
		overflow: hidden;
	}
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 99;
	display: none; 
	&.active {
		display: block !important; 
	}
}

.dart_wrapper{
	display: flex;
  flex-direction: column;
  height: 100%;
	min-height: 100vh;
}

.dart_noscroll{
	overflow: hidden;
}

.dart_container{
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
	&-content{
		max-width: 1200px;
		.icon-list{
			position: relative;
			&.coloumn_2{
				display: flex;
				flex-wrap: wrap;
				margin-left: -12px;
				margin-right: -12px;
				.icon-list__item{
					width: 50%;
					max-width: auto;
					padding: 5px 12px 0 46px;
					margin-top: 10px;
					i{
						left: 12px;
					}
				}
			}
			&__item{
				padding-left: 34px;
				padding-top: 5px;
				position: relative;
				max-width: 600px;
				& + &{
					margin-top: 24px;
				}
				i{
					font-size: 24px;
					width: 24px;
					text-align: center;
					position: absolute;
					top: 0;
					left: 0;
				}
				.title{
					display: block;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 21px;
					letter-spacing: 0.15px;
					color: #282828;
					margin-bottom: 10px;
				}
				p{
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 130%;
					letter-spacing: 0.5px;
					color: #282828;
				}
			}
		}
		ul{
			list-style-type: none;
			&.coloumn_2{
				display: flex;
				flex-wrap: wrap;
				margin-left: -12px;
				margin-right: -12px;
				li{
					width: 50%;
					padding: 10px 12px 0 27px;
					margin-top: 10px;
					&::before{
						left: 12px;
					}
				}
			}
			li{
				padding-left: 15px;
				padding-top: 10px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					left: 0;
					top: 15px;
					width: 7px;
					height: 7px;
					background: $secondary-color;
					border-radius: 50%;
				}
				& + li{
					margin-top: 10px;
				}
			}
		}
		ol{
			counter-reset: olist 0;
			list-style-type: none;
			&.coloumn_2{
				display: flex;
				flex-wrap: wrap;
				margin-left: -12px;
				margin-right: -12px;
				li{
					width: 50%;
					padding: 8px 12px 0 52px;
					margin-top: 10px;
					&::before{
						left: 12px;
					}
				}
			}
			li{
				counter-increment: olist 1;
				padding-left: 40px;
				padding-top: 10px;
				position: relative;
				min-height: 30px;
				&::before{
					content: counter(olist);
					position: absolute;
					left: 0;
					top: 0;
					width: 30px;
					height: 30px;
					background: $secondary-color;
					border-radius: 50%;
					color: #fff;
					line-height: 30px;
					text-align: center;
				}
				& + li{
					margin-top: 10px;
				}
			}
		}
	}
}

.dart_header {
	flex: 0 0 auto;
	position: relative;
	z-index: 2;	
}

.dart_main {
	flex: 1 0 auto;
	position: relative;
	z-index: 1;
}

.dart_footer {
	flex: 0 0 auto;
}

.breadcrumbs{
	padding-top: 30px;
}

a{
	color: $secondary-color;
	text-decoration: underline;
	transition: all .2s ease;
	&:hover{
		color: $primary-color;
		text-decoration: none;
		transition: all .2s ease;
	}
}

h1, .h1{
	display: block;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 1.3;
	color: $secondary-color;
	margin-bottom: 32px;
}

h2, .h2{
	display: block;
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 1.3;
	letter-spacing: 0.0025em;
	color: $secondary-color;
	margin-bottom: 24px;
}

h3, .h3{
	display: block;
	margin-top: 40px;
	margin-bottom: 16px;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.0025em;
	color: #282828;
}

h4, .h4{
	display: block;
	font-style: normal;
	font-size: 24px;
	font-weight: 400;
	color: #75787b;
	margin-bottom: 8px;	
}

p,
ul,
ol{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.5px;
	color: $secondary-color;
}

ol,
ul{
	li{
		padding: 7px 0;
	}
}

blockquote{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.5px;
	color: $secondary-color;
	padding-left: 16px;
	border-left: 4px solid $primary-color;
}

.fa-phone:before {
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.inliner {
	display: block;
	font-size: 0; 
	& > * {
		display: inline-block;
		float: none; 
	}
	&.vam > * {
		vertical-align: middle; 
	}
}
	
.dart-form-group{
	margin-bottom: 15px;
	.dart-title{
		display: block;
		padding-bottom: 25px;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #00061A;
	}
}
	
#msMiniCart .empty, 
.msMiniCart .empty { 
	display: block; 
}
#msMiniCart .not_empty, 
.msMiniCart .not_empty { 
	display: none; 
}
#msMiniCart.full .empty, 
.msMiniCart.full .empty { 
	display: none; 
}
#msMiniCart.full .not_empty, 
.msMiniCart.full .not_empty { 
	display: block; 
}
/* ----------------- UTILS ------------- */
.inliner {
	display: block;
	font-size: 0;
	& > * {
	  	display: inline-block;
	  	float: none; 
	}
	&.inliner-vam > * {
	  vertical-align: middle; 
	}
	&.inliner-top > * {
		vertical-align: top; 
	}
	&.inliner-bottom > * {
		vertical-align: bottom; 
	}
}
@for $i from 1 to 5 {
	.dart-mb-#{$i}{
		margin-top: #{$i}rem;
	}
}

@for $i from 1 to 5 {
	.dart-mt-#{$i}{
		margin-top: #{$i}rem;
	}
}

.mobile-show{
	display: none;
}

.desktop-show{
	display: block;
}

@media (max-width: $tablets){
	.mobile-show{
		display: block !important;
	}
	
	.desktop-show{
		display: none;
	}
}

@media (max-width: $small-tablets){
	@for $i from 1 to 10 {
		.mobile-order-#{$i}{
			order: #{$i};
		}
	}
}

/* ----------------- TXT ---------------- */
.hidden{
	display: none !important;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

p{
	font-family: $font-stack;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #00061A;
	margin-bottom: 15px;
}

ol,
ul{
	padding-left: 15px;
	font-family: $font-stack;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #00061A;
	margin-bottom: 15px;
}

.form-check-input:checked {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

/* ----------------- LAYOUT ------------- */
.flex-right{
	display: flex;
	justify-content: flex-end;
}
.space-between{
	display: flex;
	justify-content: space-between;
}
.dart-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: math.div($main-padding, -2);
    margin-left: math.div($main-padding, -2);	
}

.dart-align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.d-col{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: math.div($main-padding, 2);
	padding-left: math.div($main-padding, 2);
}

@for $i from 1 to 13 {
	$percent: math.div($i, 12) * 100;
	.d-col-#{$i},
	.d-col-sm-#{$i},
	.d-col-md-#{$i},
	.d-col-lg-#{$i},
	.d-col-xl-#{$i},
	.d-col-xxl-#{$i} {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: math.div($main-padding, 2);
		padding-left: math.div($main-padding, 2);
	}
}


@for $i from 1 to 13 {
	$percent: math.div($i, 12) * 100;
	.d-col-#{$i} {
		flex: 0 0 auto;
		width: #{$percent}#{'%'};
	}
}

@media (min-width: $big-phones){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-sm-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $small-tablets){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-md-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $tablets){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-lg-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $small-desktop){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-xl-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $desktop){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-xxl-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
/* ----------------- / LAYOUT ------------- */

@keyframes hook {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-30px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
	75% {
        transform: translate(-30px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes buttonWave {
	0% {
	  	opacity: 0.2;
		transform: scale(1);
	}
	100% {
	  	opacity: 0;
		transform: scale(30);
	}
}

@keyframes blinker {  
	from { 
		opacity: 1; 
	}
	to { 
		opacity: 0; 
	}
}

@keyframes blick{
	15%,
	to{
		left:110%;
	}
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visible-sm{
	display: none;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1640px;
  }
}
@media (max-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
      max-width: 960px;
  }
	.hidden-sm{
		display: none !important;
	}
	.visible-sm{
		display: block !important;
	}
	.mobile_full {
		max-width: 100%;
		padding: 0;
	}
	.mobile_scroll_wrap {
		overflow: hidden;
		position: relative;
		padding-top: 40px;
		&::before{
			content: "Передвигайте влево/вправо";
			color: #333;
			display: block;
			font-size: 16px;
			position: absolute;
			top: 0;
			left: 15px;
			right: 15px;
			padding: 0 45px;
			text-align: center;
		}
		&::after{
			content: "";
			color: #333;
			display: block;
			font-size: 16px;
			position: absolute;
			width: 1.75em;
			height: 1.375em;
			background: url(../img/icons/hand.svg) no-repeat;
			top: 0;
			right: 35px;
			text-align: center;
		}
	}
	.mobile_scroll {
		display: block;
		overflow-x: scroll;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		&.mobile_scroll_block_300 > * {
			display: inline-block;
			vertical-align: top;
			width: 300px !important;
			max-width: 300px !important;
			white-space: normal;
		}
		&.mobile_scroll_block_200 > * {
			display: inline-block;
			vertical-align: top;
			width: 200px !important;
			max-width: 200px !important;
			white-space: normal;
		}
	}
}
@media (max-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
      max-width: 540px;
  }
}