@use 'sass:math';
@import 'reset';
@import  'vars';
@import 'fonts';
@import 'base';
@import 'old';
@import 'modals';
// Шапки сайта
@import 'headers/header_1';
// Навигации
@import 'navigations/navigation_1';
// Футеры
@import 'footers/footer_1';
// Блог
@import 'blog';

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.dart-form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dart-form-group {
  margin-bottom: 1rem;
}

.dart-big-block{
  display: block;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px 25px;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  span{
    display: block;
    font-size: 18px;
    & + span{
      margin-top: 10px;
    }
    &.desc{
      font-size: 14px;
    }
  }
  &.dart-big-block-primary{
    background: #1586d8;
    border: 2px solid #1586d8;
    border-radius: 5px;
    color: #fff;
    &:hover{
      background-color: #31a9ff;
      border-color: #31a9ff;
      color: #fff;
    }
  }
  &.dart-big-block-secondary{
    background: #fb3343;
    border: 2px solid #fb3343;
    border-radius: 5px;
    color: #fff;
    &:hover{
      background-color: #c3232f;
      border-color: #c3232f;
      color: #fff;
    }
  }
}

.dart-btn{
  display: inline-block;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 7px 25px;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  &.dart-btn-block{
    display: block;
    width: 100%;
    text-align: center;
  }
  &.dart-btn-text{
    display: inline-block;
    padding: 0;
    color: $primary-color;
    &:hover{
      color: #343434;
    }
  }
  &.dart-btn-primary{
    background: #1586d8;
    border: 2px solid #1586d8;
    border-radius: 5px;
    padding: 7px 25px;
    color: #fff;
    &:hover{
      background-color: #31a9ff;
      border-color: #31a9ff;
      color: #fff;
    }
  }
  &.dart-btn-secondary{
    background: #fb3343;
    border: 2px solid #fb3343;
    border-radius: 5px;
    padding: 7px 25px;
    color: #fff;
    &:hover{
      background-color: #c3232f;
      border-color: #c3232f;
      color: #fff;
    }
  }
  &.dart-btn-bordered{
    background: transparent;
    border: 1px solid #343434;
    border-radius: 5px;
    padding: 7px 25px;
    color: #343434;
    &:hover{
      background-color: #343434;
      border-color: #343434;
      color: #fff;
    }
  }
  &:hover{
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  &.dart-btn-rounded {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    padding: 25px 70px;
    display: inline-block;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#dd470d),to(#ff713a));
    background: -o-linear-gradient(left,#dd470d 0,#ff713a 100%);
    background: linear-gradient(to right,#dd470d 0,#ff713a 100%);
    border-radius: 80px;
    outline: 0;
    border: 0;
    -webkit-transition: .35s all ease;
    -o-transition: .35s all ease;
    transition: .35s all ease;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:hover {
      color: #fff;
      background: -webkit-gradient(linear,left top,right top,color-stop(0,#ff713a),to(#dd470d));
      background: -o-linear-gradient(left,#ff713a 0,#dd470d 100%);
      background: linear-gradient(to right,#ff713a 0,#dd470d 100%)
    }
  }
}

.dart-btn-animate {
  overflow: hidden;
  z-index: 1;
  position: relative;
  &::after {
    content: "";
    margin-left: 60px;
    width: 30px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: rotate(45deg)
  }
}

.button-with-desc{
  .desc{
    display: block;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
  }
}

.mobile_block_actions{
  display: none;
  min-height: 50px;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 8px #00000026;
  z-index: 11;
  ul{
    display: flex;
    padding: 0;
    height: 100%;
    align-items: top;
    width: 100vw;
    background: #555555;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    li{
      max-width: 100px;
      a{
        position: relative;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        i{
          font-size: 24px;
          color: #d3d3d3;
          & + span{
            margin-top: 5px;
          }
        }
        span{
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3;
          display: block;
          color: #ADADAD;
        }
      }
    }
  }
}

.breadcrumbs {
  padding: 15px 0 0 0;
  margin-top: 0;
  position: relative;
  .breadcrumb{
    background: #f2f2f2;
    border-radius: 5px;
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    .breadcrumb-item{
      font-size: 14px;
      & + .breadcrumb-item{
        padding-left: .5rem;
        &::before{
          display: inline-block;
          padding-right: .5rem;
          color: #6c757d;
          content: "/";
        }
      }
      &:hover{
        color: $primary-color;
        text-decoration: underline;
      }
      &.active {
        color: #6c757d
      }
      a{
        text-decoration: none;
      }
    }    
  }
}

#mse2_mfilter .btn_more{
  width: auto !important;
}

.def-section {
  padding: 30px 0;
  overflow: hidden;
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &.text-center{
      justify-content: center;
    }
    h1, h2, h3, h4, .h1, .h2, .h3, .h4{
      margin-bottom: 0;
    }
    a{
      color: #343434;
      text-decoration: none;
      &:hover{
        opacity: .9;
      }
    }
  }

  blockquote{
    margin-bottom: 30px;
  }

  ul{
    margin-bottom: 15px;
    li{
      padding: 5px 0;
    }
  }

  & h4,
  & .h4 {
    font-size: 20px;
    line-height: 1.3;
    color: #343434;
    font-weight: bold;
    text-align: left;
    margin: 0;
    background: none;
    margin-bottom: 10px;
    padding: 0;
  }

  & h2,
  & .h2 {
    font-size: 22px;
    line-height: 1.3;
    color: #343434;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    background: none;
    margin-bottom: 15px;
    padding: 0;
  }

  & h1,
  & .h1 {
      font-size: 28px;
      line-height: 1.3;
      color: #343434;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      margin: 0;
      background: none;
      margin-bottom: 15px;
      padding: 0;
  }
}

.actions-row{
  position: relative;
}

.actions-item{
  display: block;
  border: 1px solid #dadada;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  &:hover{
    &::before{
      display: none;
      background: -moz-linear-gradient(6deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,.35) 100%);
      background: -webkit-linear-gradient(6deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,.35) 100%);
      background: linear-gradient(6deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,.35) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#343434",GradientType=1);
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
    .actions-item__text{
      display: none;
      p{
        display: block;
      }
    }
  }
  &::before{
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(52,52,52);
    z-index: 1;
    background: -moz-linear-gradient(6deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(6deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(6deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#ffffff",GradientType=1);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  &__img{
    line-height: 1;
    img{
      display: block;
    }
  }
  &__text{
    position: absolute;
    display: none;
    flex-wrap: wrap;
    align-items: end;
    padding: 15px 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    p{
      color: #fff;
      display: block;
      display: none;
      width: 100%;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
  &__title{
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 600;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    & + *{
      margin-top: 15px;
    }
  }
}

.label{
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
  background: transparent;
  color: #343434;
  & + .label{
    margin-left: 5px;
  }
  &.label-grey{
    background: #dadada;
  }
  &.label-green{
    background: #4cae4c;
    color: #fff;
  }
  &.label-red{
    background: #fb3343;
    color: #fff;
  }
  &.label-blue{
    background: #1586d8;
    color: #fff;
  }
}

.calc_button{
  position: fixed;
  display: none;
  text-align: left;
  left: 0;
  right: 0;
  bottom: -150px;
  padding: 0 5px;
  transition: all .2s ease;
  z-index: 11;
  &.calc_button__active{
    bottom: 85px;
    transition: all .2s ease;
  }
  a{
    width: 100%;
    max-width: 295px;
    text-align: left;
    display: inline-block;
  }
}

.qr_pay{
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  padding: 15px 15px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid transparent;
  background-color: #343434;
  cursor: help;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
  span{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    &.title{
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      b{
        font-weight: 900;
        color: #fb3343;
        display: block;
      }      
    }
  }
  img{
    margin: 30px 0;
    display: block;
    border-radius: 5px;
  }
}

.catalog-item{
  position: relative;
  margin-bottom: 30px;
  border: 1px solid transparent;    
  padding: 15px 0 110px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all .2s ease;
  border-radius: 10px;
  height: calc(100% - 30px);
  &.catalog-item__short{
    padding-bottom: 60px !important;
    &.with-price{
      padding-bottom: 120px !important;
    }
    .catalog-item__characters{
      display: none;
    }
  }
  &-simple{
    padding-bottom: 15px !important;
  }
  &.with-price{
    padding-bottom: 165px !important;
  }
  &__labels{
    padding: 15px 15px 0;
  }
  &__image{
    padding: 0 15px;
    img{
      display: block;
      border-radius: 10px;
    }
  }
  &__text{
    padding: 15px 15px;
    a:not(.dart-btn){
      font-size: 18px;
      font-weight: bold;
      display: block;
      text-decoration: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
    a.dart-btn{
      & + *{
        margin-top: 15px;
      }
    }
  }
  &__prices-block {  
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 15px;
    & .old_price{
      text-decoration: line-through;
      color: #7E7E7E;
      font-weight: 600;
      font-size: 16px;
      text-decoration-color: #343434;
      & + .price{
        color: #ff0000;
      }
    }
    & .price{
      color: #343434;
      font-weight: 600;
      font-size: 22px;
    }
  }
  &__characters{
    position: relative;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 10px;
    & + *{
      margin-top: 15px;
    }
    .char-item {
      position: relative;
      font-size: 12px;
      text-align: justify;
      margin-bottom: -16px; 
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 0; 
      }
      &::after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block; 
      }
      .label {
        color: #464b52;
        display: inline-block; 
      }
      .value {
        color: #1586d8;
        display: inline-block; 
      }
    }
  }
  &__buttons{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    a{
      display: block;
      width: 100%;
      text-align: center;
      & + .desc{
        margin: 0;
      }
    }
  }
}

.sorting_box {
  background: #f6f6f6;
  padding: 23px 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #aaa;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .sort-toggler {
    display: none;
  }
  .sorting_box_inner{
    .sort-params {
      display: inline-block;
        a {
        font-weight: 400;
        color: #5f5f5f;
        border-bottom: 1px dotted #aaa;
        padding: 2px 5px 1px 4px;
        margin-right: 5px;
        text-decoration: none;
        border-radius: 3px;
        &:hover {
          background: #dedede;
          color: #525252;
          border: none;
          padding: 2px 5px 5px 4px
        }
        &.sorting_active {
          background: #ffe600;
          color: #fff;
          border: none;
          padding: 2px 5px 5px 4px
        }
        &.s_sales {
          font-weight: 400;
          color: #f32b4f;
          border-bottom: 1px dotted #f32b4f;
          margin-right: 10px;
          padding: 2px 5px 1px 4px;
          &:hover {
            background: #f32b4f;
            color: #fff;
            border: none;
            padding: 2px 5px 5px 4px
          }
        }
      }
    }
  }
}

.ajax_load_btn {
  text-align: center;
  margin: 20px 0px 15px;
  border: 1px solid #aaa;
  cursor: pointer; 
  border-radius: 5px;
  width: 100% !important;
  &:hover {
    border-color: #aaa;
    background: #f6f6f6; 
    .more_text_ajax::after {
      animation: spinner .5s ease 1;
      transform-style: preserve-3d; 
    }
  }
  .more_text_ajax {
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    padding: 10px 0px 10px 34px;
    color: #3e3e3e;
    text-transform: uppercase; 
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      left: 8px;
      top: 11px;
      background: url("/img/icons/reuse.svg") no-repeat;
      transition: background 0.7s ease-in-out; 
    }
    &.loading::after {
      animation: spinner 0.5s linear infinite !important;
      transform-style: preserve-3d; 
    }
    &:hover::after{
      animation: spinner .5s ease 1;
      transform-style: preserve-3d; 
    }
  }
}

.dart-pagination {
  padding: 15px 0;
  ul {
    display: flex;
    gap: 12px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    li{
      &.active a {
        color: $primary-color;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        transition: all 0.4s;
      }
    }
  }
}

.main_block {
  position: relative;
  padding: 120px 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.7)),color-stop(80.87%,rgba(6,6,6,.3)));
    background: -o-linear-gradient(left,rgba(0,0,0,.7) 0%,rgba(6,6,6,.3) 80.87%);
    background: linear-gradient(90deg,rgba(0,0,0,.7) 0%,rgba(6,6,6,.3) 80.87%)
  }
  &.centered::after {
    background: rgba(0,0,0,.5);
  }
  &.centered .caption {
    margin: 0 auto;
    & >.title {
      text-align: center
    }
    & > p {
      text-align: center
    }
  }
  .caption {
    position: relative;
    z-index: 2;
    max-width: 780px;
    & > .title {
      display: block;
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 64px;
      text-transform: uppercase;
      color: #fff;
      & + * {
        margin-top: 32px
      }
    }
    & > p {
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 34px;
      color: #fff;
      & + * {
        margin-top: 58px;
      }
    }
    .bullets {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      .item {
        width: 33.33333%;
        padding: 10px 10px;
        .item__icon {
          margin-bottom: 15px;
          i {
            text-align: center;
            display: block;
            line-height: 37px;
            width: 37px;
            height: 37px;
            background: #fb3343;
            color: #fff;
            border-radius: 50%;
          }
        }
        .title {
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          color: #fff;
          & + * {
            margin-top: 8px;
          }
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #fff
        }
      }
    }
    .buttons_container {
      margin-top: 40px;
      text-align: center;
    }
    .form_container {
      margin-top: 40px;
      .fields-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .def-input {
          border: 1px solid #696969;
          border-radius: 5px;
          background: #fff;
          color: #222;
          font-weight: 300;
          font-size: 19px;
          line-height: 36px;
          padding: 4px 15px;
          margin: 0;
          text-align: left;
          width: 100%;
        }
        .item{
          width: 50%;
          &:last-child {
            padding-left: 20px;
          }
          .dart-btn{
            width: 100%;
            font-size: 18px;
            padding: 10px 15px;
          }
        }
      }
    }
  }
  &__mobile_img {
    display: none;
  }
}

.title-block {
  padding: 0;
  position: relative;
  .bouncher {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    .bouncing-icon {
      border: 2px solid #fff;
      height: 28px;
      display: inline-block;
      width: 23px;
      border-radius: 11px;
      color: #b9b4b4;
      transition: all 1s ease 0s;
      margin-top: 8px;
      animation: 3s ease 0s normal none infinite running bounce;
      &:hover {
        color: #e31e25
      }
    }
  }
  .main-slider {
    position: relative;
    .item {
      position: relative;
      min-height: 80vh;
      background-size: cover!important;
      background-position: center center!important;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        z-index: 6
      }
    }
  }
  .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    .first-screen-form {
      max-width: 600px;
      margin: 30px auto;
      button {
        margin-top: 15px
      }
      input {
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #fff;
        display: block;
        width: 100%;
        padding: 5px 10px;
        color: #fff;
        &::-webkit-input-placeholder {
          color: #fff
        }
        &:-ms-input-placeholder {
          color: #fff
        }
        &::placeholder {
          color: #fff
        }
        &::-ms-input-placeholder {
          color: #fff
        }
        &:focus {
          outline: none
        }
      }
    }
    h1 {
      font-size: 36px;
      color: #fff;
      font-weight: bold;
      z-index: 9;
      text-align: center;
      text-shadow: 0 0 3px rgba(0,0,0,.1);
      position: relative;
      z-index: 2
    }
    h2 {
      font-size: 32px;
      color: #fff;
      font-weight: bold;
      z-index: 9;
      text-align: center;
      text-shadow: 0 0 3px rgba(0,0,0,.1);
      position: relative;
      z-index: 2
    }
  }
}

ul.dropdown-menu{
  padding: 10px 10px;
}

.sub-links-2{
  margin: 30px -5px;
  a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: #343434;
    background: #f5f6f7;
    white-space: nowrap;
    margin: 5px 5px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2)
  }
}

.photo-gallery .item{
  border-radius: 5px;
  overflow: hidden;
  a{
    text-decoration: none;
  }
}

.sorting_box {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 23px 20px;
  margin: 30px 0;
  border: 1px solid #aaa;
}

.product_view {
  position: relative;
  padding: 30px 0;
  &:nth-child(odd) {
    background: #e6eef4
  }
  &:nth-child(odd) .order-2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
  }
  &:nth-child(odd) .order-1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
  }
  a.title {
    color: #343434;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    display: block
  }
  img{
    border-radius: 5px;
    display: inline-block;
  }
  p {
    color: #999;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 30px
  }
  ul {
    margin: 0 0 35px 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 20px;
      color: #333;
      font-size: 18px;
      line-height: 20px;
      padding-left: 35px;
      position: relative;
      &::before {
        content: '';
        width: 16px;
        height: 12px;
        background: url(../img/check.svg);
        background-size: 16px 12px;
        position: absolute;
        left: 0;
        top: 3.5px
      }
    }
  }
  .more {
    display: block;
    margin-bottom: 30px;
    a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 18px;
      line-height: 35px;
      position: relative;
      &:before {
        content: '';
        margin-right: 10px;
        background: -webkit-gradient(linear,right top,left top,color-stop(0,#1652db),to(#0133a5)) , url(https://snegotehnika.ru/assets/templates/magazine/img/arrow.svg);
        background: -o-linear-gradient(right,#1652db 0,#0133a5 100%) , url(https://snegotehnika.ru/assets/templates/magazine/img/arrow.svg);
        background: linear-gradient(to left,#1652db 0,#0133a5 100%) , url(https://snegotehnika.ru/assets/templates/magazine/img/arrow.svg);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        -webkit-transition: .35s all ease;
        -o-transition: .35s all ease;
        transition: .35s all ease;
        overflow: hidden;
        z-index: 1;
        position: relative
      }
      &:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: 16px 12px;
        background-position: center center;
        position: absolute;
        top: 50%;
        z-index: 3;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%)
      }
    }    
  }
  .block-price {
    position: relative;
    margin-top: 30px;
    .block-price-left {
      padding-right: 30px;
      text-align: right
    }
    .block-inline {
      display: inline-block;
      text-align: left
    }
    .block-price-title {
      color: #999;
      font-size: 18px;
      line-height: 18px
    }
    .block-price-num {
      color: #ea5c25;
      font-size: 40px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
      &.block-price-num-old {
        color: #333;
        &:before {
          content: '';
          position: absolute;
          left: -5px;
          right: -5px;
          top: 50%;
          -webkit-transform: translateY(-50%) rotate(1.5deg);
          -ms-transform: translateY(-50%) rotate(1.5deg);
          transform: translateY(-50%) rotate(1.5deg);
          height: 4px;
          background: #ea5c25
        }
      }
    }
  }
  .mobile_img {
    display: none
  }
  .desktop_img {
      display: block
  }
}

.characters {
  position: relative;
  padding: 0 56px
}

.characters__item {
  padding: 5px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &::after {
    content: "";
    height: 1px;
    border-bottom: 1px dotted #adadad;
    display: block;
    bottom: 8px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1
  }
  .characters__label {
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .15px;
    color: #adadad;
    img {
      width: 22px;
      vertical-align: text-top;
      padding-right: 2px
    }
    span {
      display: inline-block;
      background: #fff;
      padding-right: 5px
    }
  }
  .characters__value {
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: .5px;
    color: #282828;
    text-align: right;
    span {
      display: inline-block;
      background: #fff;
      padding-left: 5px
    }
  }
}

.characters__more {
  display: block;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 1.25px;
  text-decoration: underline;
  color: #343434;
  &:hover {
    color: #1586d8
  }
}

.dart-quantity {
  border: 1px solid #adadad;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
  background: #fff;
  .dart-quantity__counter {
    margin: 0 2px;
    max-width: 50px;
    min-height: 30px;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    text-align: center;
  }
  .dart-quantity__btn {
    width: 46px;
    height: 46px;
    font-size: 28px;
    text-align: center;
    line-height: 18px;
    border: 0;
    background: #fff;
    color: #adadad;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
    &:first-child::after {
      content: '';
      background: #adadad;
      height: 30px;
      width: 1px;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0,-50%)
    }
    &:last-child::before {
      content: '';
      background: #adadad;
      height: 30px;
      width: 1px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%)
    }
  }
}

.product-fulldetails{
  &__top{
    &-characters {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      & > * + * {
        padding-left: 15px
      }
      .available{
        margin: 0;
      }
    }
  }
  &__compare {
    position: relative;
    a {
      display: inline-block;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      letter-spacing: 1.25px;
      color: #adadad;
      border-bottom: none;
      & > * {
        display: inline-block;
        vertical-align: middle
      }
      span {
        text-decoration: none;
        border-bottom: none!important;
      }
      i {
        font-size: 18px;
      }
      &:hover {
        text-decoration: none;
        color: #1586d8
      }
    }
  }
  &__article {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 106%;
    letter-spacing: .25px;
    color: #adadad;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 6px 15px;
    padding-right: 15px;
  }
  &__vendor_block{
    display: block;
    padding: 10px 15px;
    background: #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    span{
      font-size: 14px;
    }
    img{
      display: inline-block;
      max-width: 150px;
      max-height: 40px;
    }
  }
  &__widget {
    padding: 20px 20px 20px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    & + &{
      margin-top: 16px;
    }
    &-title {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #282828;
      margin-bottom: 24px
    }
  }

  &__cart-prices {
      margin-bottom: 22px
  }

  &__old-price {
      display: flex;
      align-items: center;
      margin-bottom: 15px
  }

  &__old-price span.old_price {
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      color: #666;
      text-decoration: line-through
  }

  &__old-price .nameplate {
      margin-left: 14px;
      padding: 4px 8px;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      background: #1586d8;
      font-weight: 500;
      border-radius: 4px
  }
  &__gallery{
    padding: 15px 0;
    img{
      display: block;
      border-radius: 5px;
    }
    .swiper_gallery{
      background: #fff;
      overflow: hidden;
      border: 1px solid transparent;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 100%;
      .swiper-slide{
        padding: 0;
        box-sizing: border-box; 
        text-align: center;  
        display: flex;
        justify-content: center;
      }
      .swiper-button-next{
        right: 15px;
      }
      .swiper-button-prev{
        left: 15px;
      }
      .swiper-button-next, .swiper-button-prev{
        width: 45px;
        height: 45px;
        background: #fff;
        border-radius: 50%;
        &:after{
          font-size: 25px;
          color: #343434;
        }
      }
    }
    .swiper_thumbnail{
      width: 100%;
      .swiper-slide{
        cursor: pointer;
        background: transparent;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 0;
        box-sizing: border-box;   
      }
      .swiper-slide-thumb-active{
        outline: 2px solid $primary-color;
        outline-offset: -2px;
      }
    }
  }
  &__delivery{
    padding: 30px 15px;
    margin-top: 30px;
    border: 1px solid #dadada;
    border-radius: 15px;
    h4{
      font-size: 18px;
      font-weight: bold;
      color: #343434;
    }
  }
  &__user-actions{
    padding: 30px 0;
    .user-action{
      display: block;
      & + *{
        margin-top: 30px;
      }
    }
  }
  &__helper{
    margin-top: 5px;    
    .dart-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      & img{
        max-width: 25px;
        margin-left: 10px;
      }
    }
    
  }
}

.available {
  display: block;
  margin: 20px 0;
  &_label {
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 10px;
    &.available_1 {
      background: #4cae4c;
      color: #fff;
    }
    &.available_2 {
      background: #2e6da4;
      color: #fff;
    }
    &.available_99 {
      background: #761c19;
      color: #fff;
    }
  }
}

.menu_catalog {
  position: relative;
  margin-top: 15px;
  li {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    a {
      font-size: 14px;
      line-height: 1.3;
      display: inline-block;
      font-weight: bold;
      color: #333;
      border: 1px solid #333;
      border-radius: 5px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 15px;
      margin-bottom: 3px;
      transition: all .2s ease;
      &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
        background: $primary-color;
        color: #FFF;
        transition: all .2s ease
      }
    }
  }
}

.page-nav {
  width: 100%;
  &.fixed {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 2px;
    background-color: #a8ffa1;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
    li {
      width: 100%;
      text-align: center;
      position: relative;      
      transition: 200ms ease-out;
      &:not(:last-child) a:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 48px;
        background: #e9e9e9
      }
      &:hover a,
      &.active a{
        background: #fff;
        border-color: #fb3343
      }
      &.active a {
        color: #3f454b;
        cursor: default;
        pointer-events: none
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid transparent;
        height: 100%;
        width: 100%;
        line-height: 1.3;
        padding: 0 25px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #262626;
        text-decoration: none;
        border-bottom: none;
        box-sizing: border-box
      }
    }
  }
}

.posts {
  padding: 0;
}

.sidebar{
  top: 0;
}

.radios_item{
  margin-bottom: 10px;
  max-width: 180px;
  &.radios_item__vk a,
  &.radios_item__vk label{
    background: #07F;
    color: #fff;
  }
  &.radios_item__telegram a,
  &.radios_item__telegram label{
    background: rgb(51,144,236);
    color: #fff;
  }
  &.radios_item__wa a,
  &.radios_item__wa label{
    background: #25d366;
    color: #fff;
  }
  a{
    background: #D9D9D9;
    line-height: 1.3;
    text-decoration: none;
    display: block;
    padding: 10px 30px 10px 25px;
    border-radius: 5px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      width: 16px;
      height: 14px;
      background-image: url(/img/icons/arrow.svg);
      background-repeat: none;
      background-size: cover;
    }
  }
}

.form_radio {
	margin-bottom: 10px;
  input[type=radio] {
    display: none;
    &:checked + label::before {
      border: 1px solid #343434;
    }
    &:checked + label::after {
      content: '';
      width: 10px;
      height: 10px;
      background: #343434;
      border-radius: 50%;
      position: absolute;
      left: 9px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:disabled + label::before {
      filter: grayscale(100%);
    }
  }
  label {
    display: block;
    background: #D9D9D9;
    cursor: pointer;
    position: relative;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin-right: 0;
    line-height: 1.3;
    user-select: none;
    &::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid #343434;
      border-radius: 50%;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:hover::before {
      filter: brightness(120%);
    }
  }
}

.dart-form-group-float {
  position: relative;
  margin-top: 30px;
  margin-inline: auto;
  & + .dart-form-group-button{
    margin-top: 15px;
  }
  input[type=text] {
    font-size: 20px;
    width: 100%;
    background: #fff;
    padding: 8px 8px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 250ms;
    &:focus {
      outline: none;
      border-color: #777;
      & + label{
        transform: translateY(-140%) scale(0.75);
      }
    }
    &::placeholder {
      color: transparent;
    }
    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-140%) scale(0.75);
    }
  }
  label {
    position: absolute;
    top: 8px;
    left: 8px;
    margin-bottom: 0;
    color: #43454e;
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
  }
}

.lead-view,
.lead-view-block{
  display: none;
}

.rubric-list {
  .item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 5px #f1f1f1;
    transition: all 500ms ease;
  }
}

.posts .post_item .image img{
  border-radius: 5px;
}

.owl-stage{
  display: flex;
}

.products-slider-wrap .owl-stage{
  padding-bottom: 30px;
  display: flex;
  & .owl-item{
    & > div{
      height: 100%;
      & > .catalog-item{
        height: 100%;
      }
    }
  }
}

.article{
  border-radius: 5px;
  overflow: hidden;
  a.title-post{
    text-decoration: none;
  }
  p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.sub-filter-container {
	margin: 20px 0;
  & .sub-filter-container-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    & .sub-filter-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      min-width: 135px;
    }
    & .sub-filter-ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      .sub-filter-link {
        background: #FFFFFF;
        border: 1px solid #232323;
        border-radius: 5px;
        color: #343434;
        font-size: 16px;
        line-height: 24px;
        margin-right: 6px;
        display: block;
        padding: 0px 10px;
        &.active {
          color: #fff;
          background: #343434;
          cursor: default;
          &:hover {
            color: #fff;
            background: #232323;
          }
        }
        &:hover {
          color: #fff;
          background: #343434;
        }
      }
    }
  }
}

.related_cats{
  a {
    display: inline-block;
    padding: 10px 10px;
    color: #343434;
    background: #f5f6f7;
    white-space: nowrap;
    text-decoration: none;
    margin: 3px 5px;
    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%)
  }
} 

.mobile_slider{
  a{
    display: block;    
    overflow: hidden;
    img{
      border-radius: 5px;
    }
  }
}

.slide_me{
    overflow: hidden;
    z-index: 1;
    position: relative;


  &::after {
    content: "";
    margin-left: 60px;
    width: 10px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
    position: absolute;
    left: -100%;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-animation-name: slidemes;
    animation-name: slidemes;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}

.tagster{
  position: relative; 
  margin-bottom: 30px;
  margin-left: -5px;
  margin-right: -5px;
  &.open ul{
    max-height: none;
  }
  ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-height: 120px;
    overflow: hidden;
    li{
      display: inline-block;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 5px;
      a{
        display: block;        
        border-radius: 5px;
        border: 1px solid #eee;
        background: #f5f5f7;
        padding: 15px 20px;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        height: 100%;
        text-decoration: none;
        &:hover{
          color: #333;
          border: 1px solid #f3f3f3;
          background: #fff;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .navi{
    text-align: center;
    span{
      color: #343434;
      font-size: 18px;
      cursor: pointer;
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.c_pointer{
  cursor: pointer;
}

.dart-modal .dart-modal-content.dart-modal-content-with-mockup {
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    right: -150px;
    top: 50%;
    transform: translate(0, -63%);
  }
}

.post-content{
  img{
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}

.one-click span, .compare span{
  border-bottom: none;
}

.form-control{
  border-radius: 5px;
}

#fullparams h3{
  margin-top: 50px;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .product-fulldetails__top-characters-right {
      justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .mobile_block_actions{
    display: block;
  }
  .desktop_navigation {
    display: none;
  }
  .characters{
    padding: 30px 0;
  }
  .actions-item__text p{
    display: block;
  }
  .sorting_box .sort_title {
    display: none
  }

  .sorting_box .sort-toggler {
    display: block;
    text-align: left;
    border: none;
    padding: 0;
    color: #333;
    text-decoration: none;
  }

  .sorting_box .filter-toggler {
    display: block;
    text-align: right;
    color: #333;
    text-decoration: none;
  }

  .sorting_box {
    position: relative;
    z-index: 9;
    .sorting_box_inner{
      &.active .sort-params {
        display: block;
        padding: 10px 20px;
        width: 170px;
      }
      .sort-params {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 100%;
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
        a {
          font-weight: 400;
          color: #5f5f5f;
          border-bottom: none;
          padding: 0;
          text-transform: uppercase;
          margin: 5.5px 0;
          display: block;
          white-space: nowrap;
          font-size: 13px;
          &:hover {
            background: transparent;
            color: #5f5f5f;
            border: none;
            padding: 0
          }
        }
        &::before {
          content: '';
          position: absolute;
          background: #fff;
          left: 20px;
          top: -5px;
          width: 10px;
          height: 10px;
          -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
          box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
          z-index: -1;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg)
        }
      }
    }
  }  
  .main_slide {
    margin-top: 0;
  }
  #mse2_sort .sort[data-dir="desc"] span:after {
    content: "↓";
    font-size: 16px;
    padding-left: 5px
  }

  #mse2_sort .sort[data-dir="asc"] span:after {
    content: "↓";
    font-size: 16px;
    padding-left: 5px
  }
  .main_block__mobile_img{
    display: block;
    margin-top: 30px;
    img{
      display: block;
    }
  }
  .main_block{
    background: rgba(0,0,0,.6) !important;
    padding: 60px 0;
  }
  .main_block .caption>.title {
    font-size: 27px;
    line-height: 1.3
  }

  .main_block .caption>p {
      font-size: 18px;
      line-height: 1.3
  }

  .main_block .caption .buttons_container {
      text-align: center
  }

  .main_block .caption .bullets .item {
      text-align: center
  }

  .main_block .caption .bullets .item .item__icon i {
      margin: 0 auto
  }

  .main_block .caption .bullets .item p {
      font-size: 12px;
      line-height: 1.3
  }

  .main_block .caption .form_container .fields-wrap .item {
      width: 100%
  }

  .main_block .caption .form_container .fields-wrap .item:last-child {
      padding: 0
  }

  .main_block .caption .form_container .fields-wrap .item input {
      display: block;
      width: 100%;
      max-width: 280px;
      margin: 0 auto
  }

  .main_block .caption .form_container .fields-wrap .item button {
      display: block;
      width: 100%;
      max-width: 280px;
      margin: 15px auto 0;
      white-space: initial
  }
  .dart-btn-rounded{
    padding: 25px 35px;
  }
}

@media (max-width: 768px) {
  .product_view .block-price .block-price-num {
    font-size:30px
  }
  .calc_button{
    display: block;
  }
  .product_view .mobile_img {
    display: block;
    margin-bottom: 30px
  }

  .product_view .desktop_img {
    display: none
  }
  .dart-characters__item{
    width: 100%;
  }
}

@media (max-width: $big-phones) {
  .navigation{
    display: none;
  }
  .sub-filter-container .sub-filter-container-item {
    display: block;
    .sub-filter-title{
      width: 100%;
    }
  }
  .main_slide.owl-carousel.off{
    display: none !important;
  }
  .main_slide__mobile{
    display: block;
    margin-bottom: 30px;
  }
  .def-section__header div{
    display: none;
  }
  .catalog-item__buttons{
    .button-with-desc{
      .dart-btn{
        font-size: 12px;
      }
      .desc{
        font-size: 10px;
      }
    }
  }
  .catalog-list{
    .dart-row{
      & > *{
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
      .dart-btn{
        padding: 7px 10px;
      }
      .qr_pay{
        height: calc(100% - 5px);
        img{
          margin: 15px 0;
        }
        span{
          font-size: 12px;
          &.title{
            font-size: 16px;
          }
        }
      }      
      .catalog-item{
        padding-bottom: 110px;
        height: calc(100% - 5px);
        margin-bottom: 5px;
        &.catalog-item__short{
          padding-bottom: 110px !important;
          &.with-price{
            padding-bottom: 120px !important;
          }
        }
        &.with-price{
          padding-bottom: 120px !important;
        }
        .catalog-item__labels{
          padding: 0 5px 15px;
          white-space: nowrap;
          overflow-x: auto;
        }
        .catalog-item__image{
          padding: 0 5px 15px;
        }
        .catalog-item__text{
          padding: 0 5px 15px;
          .catalog-item__characters{
            display: none;
          }
          .catalog-item__buttons a {
            font-size: 14px;
          }
        }
        .label{
          font-size: 12px;
        }
        p{
          font-size: 14px;
        }
        .catalog-item__prices-block{
          margin-left: -12px;
          margin-right: -12px;
          .price{
            font-size: 16px;
            display: block;
          }
          .old_price{
            font-size: 14px;
            display: block;
          }
        }
        &__text {
          a:not(.dart-btn){
            font-size: 14px;
            text-transform: uppercase;
          }
          .menu_catalog li a{
            padding: 5px 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .dart-modal .dart-modal-content.dart-modal-content-with-mockup img{
    right: -250px;
  }
  .product_view .block-price .block-price-num {
      font-size: 26px
  }

  .product_view:nth-child(odd) .order-2 {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2
  }

  .product_view:nth-child(odd) .order-1 {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1
  }
  .product-fulldetails__user-actions {
    padding: 10px 0;
  }
  .characters {
    padding: 10px 0;
  }
}

@media (max-width: 400px) {
  .catalog-list .dart-row .catalog-item{
    padding-bottom: 110px;
    height: calc(100% - 5px);
    margin-bottom: 5px;
    &.catalog-item__short{
      padding-bottom: 110px !important;
      &.with-price{
        padding-bottom: 140px !important;
      }
    }
    &.with-price{
      padding-bottom: 140px !important;
    }
  }
}